html  
    head
        title insult
        link(rel="stylesheet", type="text/css", href="public/styles/main.css")
    body
        h1(class='insult') Your nose is a beehive!
        button(class='insult-button') new insult
    script(
        type='text/javascript',
        data-main="public/js/main",
        src='public/js/node_modules/requirejs/require.js')
